@model WebShop.Models.Order

<h2>Order Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Order ID</dt>
        <dd>@Model.OrderId</dd>

        <dt>Customer ID</dt>
        <dd>@Model.CustomerId</dd>

        <dt>Additional Info</dt>
        <dd>@Model.AdditionalInfo</dd>
    </dl>
</div>
<a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |
<a asp-action="Index">Back to List</a>
