@model WebShop.Models.Order
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Order ID</dt>
        <dd>@Model.OrderId</dd>

        <dt>Customer ID</dt>
        <dd>@Model.CustomerId</dd>

        <dt>Additional Info</dt>
        <dd>@Model.AdditionalInfo</dd>

    </dl>
</div>
<div>
    <a class="btn btn-success" href="/OrdersMVC/Edit/@Model.OrderId">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.OrderId" class="btn btn-danger">Delete</a>
    <a class="btn btn-success" href="/OrdersMVC">Back</a>
</div>
